.hamburger-menu{
    background: #3A3054;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    .show-menu{
        display: block;
    }
    .hide-menu{
        display: none;
    }
    .menu-nav ul{
      padding: 0;
    }
    .menu-nav ul li{
        list-style: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
        padding-top: 40px;
    }
    .login{
        color: white;
        font-weight: bold;
        font-size: 18px;
        padding-top: 40px;
    }
    .line{
        background: #9E9AA8;
        height: 2px;
        margin-top: 30px;
        opacity: .3;
        margin: 0 10% ;
    }
    .menu-sign-up{
        background-color: #2BD0D0;
        color: white;
        font-weight: bold;
        font-size: 18px;
        padding: 0px 25px;
        margin-bottom: 30px;
        width: 80%;
        height: 48px !important;
        border: none;
    }

}
@media only screen and (min-width: 768px) {
    .hamburger-menu{
        display: none;
    }
}